<!-- Validation failure messages -->

<% if @kill.errors.any? %>
  <% @kill.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Kill</h3>
      </div>
      <div class="panel-body">
        <form action="/create_kill" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for victim_id -->
          <div class="form-group">
            <label for="victim_id" class="col-sm-2 control-label">
              Victim
            </label>
            <div class="col-sm-10">
              <input type="text" id="victim_id" name="victim_id" placeholder="Victim" class="form-control" value="<%= @kill.victim_id %>" disabled>
            </div>
          </div>

          <!-- Label and input for kill_time -->
          <div class="form-group">
            <label for="kill_time" class="col-sm-2 control-label">
              Kill time
            </label>
            <div class="col-sm-10">
              <input type="text" id="kill_time" name="kill_time" placeholder="Kill time" class="form-control" value="<%= @kill.kill_time %>">
            </div>
          </div>

          <!-- Label and input for kill_story -->
          <div class="form-group">
            <label for="kill_story" class="col-sm-2 control-label">
              Kill story
            </label>
            <div class="col-sm-10">
              <textarea id="kill_story" name="kill_story" placeholder="Kill story" class="form-control" rows="3"><%= @kill.kill_story %></textarea>
            </div>
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @kill.user_id %>">
            </div>
          </div>

          <!-- Label and input for game_id -->
          <div class="form-group">
            <label for="game_id" class="col-sm-2 control-label">
              Game
            </label>
            <div class="col-sm-10">
              <input type="text" id="game_id" name="game_id" placeholder="Game" class="form-control" value="<%= @kill.game_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Kill
              </button>
              or
              <a href="/kills">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
